<!DOCTYPE html>
<html>
 <head>
	<title>Tabel Bookmark</title>
	<link href="<?php echo base_url(); ?>res/css/style.css" rel="stylesheet" type="text/css" /> 
 </head>
	<body>
	 	<center>
			<h3>Data Tabel Bookmark</h3>
		 <div class="content">
		 	<table>		
					<tr>
						<th>
							<li><a href="<?php echo base_url().'belajar/bookmark' ?>">Data Tabel Bookmark</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'belajar/user' ?>">Data Tabel User</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'login/logout' ?>">Logout</a></li>
						</th>
					</tr>
				</table>
		 <div class="paging">
		 <div class="data">
				<table>
					<tr>
						<th width="2%">No.</th>
						<th>Title</th>
						<th>Url</th>
						<th>Description</th>
						<!-- <th width="25%">Option</th> -->
					</tr>
						<?php 
							$no = 0;
							foreach($tb_bookmark as $u){
							$no++; ?>
					<tr>
						<td><?php echo $no ?></td>
						<td valign="top"><?php echo anchor ('belajar/view_b/'.$u->id, $u->title); ?></td>
						<td valign="top"><?php echo $u->url ?></td>
						<td valign="top"><?php echo $u->description ?></td>
						<td>
						<!--	<a class="update">
							 <?php echo anchor('belajar/edit/'.$u->id,'Edit'); ?>
							</a>
							<a class="delete">
							 <?php echo anchor('belajar/hapus/'.$u->id,'Hapus'); ?>
							</a> -->
						</td>
					</tr>
		 </div>
		 </div>
		 </div>
	<?php } ?>	
				</table>
		</center>		
	
	 </div>
	</body>
	 <center>
		<a class="add"	href="<?php echo base_url('/belajar/tambah'); ?>"> Tambah Data...</a>
	 </center>
</html>



<!DOCTYPE html>
<html lang="en">
  <head>
 
    <title>CRUD WITH JTABLE</title>
 
    <!-- js Jquery dan Jquery-ui -->
    <script src='<?php echo base_url();?>assets/js/jquery.js'></script>
    <script src='<?php echo base_url();?>assets/jquery-ui/jquery-ui.js'></script>
    <!-- css jquery-ui -->
    <link href='<?php echo base_url();?>assets/jquery-ui/jquery-ui.css' rel="stylesheet">
 
    <!-- js Jtable. -->
    <link href="<?php echo base_url();?>assets/jtable/themes/lightcolor/blue/jtable.css" rel="stylesheet" type="text/css" />
    <!-- css Jtable -->
    <script src='<?php echo base_url();?>assets/jtable/jquery.jtable.min.js'></script>
 	
     <script type="text/javascript">
        $(document).ready(function () {
        	       
        
            $('#dataDrid').jtable({
                 title: 'Tabel Bookmark',
                 paging: true, //Enable paging
	             pageSize: 10, //Set page size (default: 10)
	             sorting: true, //Enable sorting
	             defaultSorting: 'Name ASC', //Set default sorting
                 actions: {
                     listAction: '/ci30/belajar/bookmark', // link untuk proses load data grid
                     createAction: '/ci30/belajar/input_data', // link untuk proses tambah data
                     updateAction: '/ci30/belajar/edit_data', // link untuk proses update data
                     deleteAction: '/ci30/belajar/hapus_data' // link untuk proses hapus data
                 },
               
             fields: { // field digunakan sebagai grid, form tambah data dan edit data
                 	id: {
	                      key: true, // key untuk proses update dan delete
	                      create: false,
	                      edit: false,
					 	  list: false
                     },
                    
                    title: {
	                      title: 'Title',
	                      width: '20%' 
                     },
                    
                    url: {
                          title: 'Url',
                          width: '35%'
                     },

                    description: {
                          title: 'Description',
                          width: '40%',
                          type: 'textarea'
                     },
                  	//no_hp: {
                    //    title: 'Handphone',
                     //    width: '20%'
                   //}, 
                 } 
   			 });
		
           // load data saat pertama kali
    $('#dataDrid').jtable('load');
 
    });

    </script>
 
  </head>
  
  <body>
  	<center>
  		<h3>Data Tabel Bookmark</h3>
  				<table>		
					<tr>
						<th>
							<li><a href="<?php echo base_url().'belajar/bookmark' ?>">Data Tabel Bookmark</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'belajar/user' ?>">Data Tabel User</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'login/logout' ?>">Logout</a></li>
						</th>
					</tr>
				</table>
				<table class="jtable">
				<?php 
							$no = 0;
							foreach($tb_bookmark as $u){
							$no++; ?>
					<thead>
						<tr>
							<th>
								<th class="jtable-column-header" style="width: 43.5744%;">
								<div class="jtable-column-header-container">
								<span class="jtable-column-header-text">title</span>
								<div class="jtable-column-resize-handler"></div></div>
							</th>
								<th class="jtable-column-header" style="width: 21.7024%;">
								<div class="jtable-column-header-container">
								<span class="jtable-column-header-text">url</span>
								<div class="jtable-column-resize-handler"></div></div>
							</th>
								<th class="jtable-column-header" style="width: 32.7232%;">
								<div class="jtable-column-header-container">
								<span class="jtable-column-header-text">description</span></div>
							</th>
							<th class="jtable-command-column-header" style="width: 1%;"></th>
							<th class="jtable-command-column-header" style="width: 1%;"></th>
						</tr>
					</thead>
						
					<tbody>
						<tr>
							<td><?php echo $no ?></td>
							<td valign="top"><?php echo anchor ('belajar/view_b/'.$u->id, $u->title); ?></td>
							<td valign="top"><?php echo $u->url ?></td>
							<td valign="top"><?php echo $u->description ?></td>
						</tr>
					</tbody>
						<?php } ?>
				</table>
				
			<!--	<script type="text/javascript">
				$(document).ready(function () {
				$("#btnTambahB").click(function(){
            	var title 		= $("#title").val();
				var url 		= $("#url").val();
		   	    var description = $("#description").val();
		   	    var data = 'title=' + title + '&url=' + url + '&description=' + description ;
	                $.ajax({
	                    url : "<?php base_url() ?>/belajar/tambah_aksi",
	                    type "post",
	                    data : data,
	                    success:    function(){
							                   $("#bookmark").load("belajar/bookmark #data");
							                   },      
			         });   	            
			   }); 
			   }); 
				</script> -->
		
	
	<!-- element yang kita butuhkan -->
    <div id='dataDrid' style='width:50%'></div>
  	</center>
  </body>
</html>

//      	$.get("<?php echo $base_url;?>" + "controller/get_results/" + loaded_messages,  
			//     function(data){
			//         var data = JSON.parse(data);
			//         var output = "";
			//         for (var i = 0; i < data.length; i++) { 
			//             output += data[i].email + ' - <br />';
			//         }
			//         $("#main_content").append(output);
			//     }
			// )


<!DOCTYPE html>
<html lang="en">
  <head>
 
    <title>CRUD WITH JTABLE</title>
 
    <!-- js Jquery dan Jquery-ui -->
    <script src='<?php echo base_url();?>assets/js/jquery.js'></script>
    <script src='<?php echo base_url();?>assets/jquery-ui/jquery-ui.js'></script>
    <!-- css jquery-ui -->
    <link href='<?php echo base_url();?>assets/jquery-ui/jquery-ui.css' rel="stylesheet">
 
    <!-- js Jtable. -->
    <link href="<?php echo base_url();?>assets/jtable/themes/lightcolor/blue/jtable.css" rel="stylesheet" type="text/css" />
    <!-- css Jtable -->
    <script src='<?php echo base_url();?>assets/jtable/jquery.jtable.min.js'></script>

  </head>
  	<?php
		foreach ($tb_bookmark as $u){
		echo $u."<br>";
	}?>
	<?php
		echo $decode_data->id;
		echo "<br>";
		echo $decode_data->title;
		echo "<br>";
		echo $decode_data->url;
		echo "<br>";
		echo $decode_data->description;
	?>
 	
    <script type="text/javascript">
        $(document).ready(function () {

   
        	       
        
          $('#dataDrid').jtable({
                title: 'Tabel Bookmark',
                paging: true, //Enable paging
	            pageSize: 10, //Set page size (default: 10)
	            sorting: true, //Enable sorting
	            defaultSorting: 'Name ASC', //Set default sorting
                actions: {
                    listAction: '/ci30/belajar/bookmark', // link untuk proses load data grid
                    createAction: '/ci30/belajar/input_data', // link untuk proses tambah data
                    updateAction: '/ci30/belajar/edit_data', // link untuk proses update data
                    deleteAction: '/ci30/belajar/hapus_data' // link untuk proses hapus data
                },
               
                fields: { // field digunakan sebagai grid, form tambah data dan edit data
                    id: {
                        key: true, // key untuk proses update dan delete
                        create: false,
                        edit: false,
						list: false
                    },
                    title: {
                        title: 'Title',
                        width: '20%' 
                    },
                    url: {
                        title: 'Url',
                        width: '35%'
                    },
                    description: {
                        title: 'Description',
                        width: '40%',
                        type: 'textarea'
                    },
                  	//no_hp: {
                    //    title: 'Handphone',
                    //    width: '20%'
                    //}, 
                } 
            });
		

            // load data saat pertama kali
            $('#dataDrid').jtable('load');
 
        });
    </script>
 
  
  <body>
  	<center>
  		<h3>Data Tabel Bookmark</h3>
  				<!--<table>		
					<tr>
						<th>
							<li><a href="<?php echo base_url().'belajar/bookmark' ?>">Data Tabel Bookmark</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'belajar/user' ?>">Data Tabel User</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'login/logout' ?>">Logout</a></li>
						</th>
					</tr>
				</table>-->
				
			<!--	<script type="text/javascript">
				$(document).ready(function () {
				$("#btnTambahB").click(function(){
            	var title 		= $("#title").val();
				var url 		= $("#url").val();
		   	    var description = $("#description").val();
		   	    var data = 'title=' + title + '&url=' + url + '&description=' + description ;
	                $.ajax({
	                    url : "<?php base_url() ?>/belajar/tambah_aksi",
	                    type "post",
	                    data : data,
	                    success:    function(){
							                   $("#bookmark").load("belajar/bookmark #data");
							                   },      
			         });   	            
			   }); 
			   }); 
				</script> -->
		
	
	<!-- element yang kita butuhkan -->
    <div id='dataDrid' style='width:50%'></div>
  	</center>
  </body>
</html



<!--- ini user---->

<!DOCTYPE html>
<html>
 <head>
	<title>Tabel User</title>
	<link href="<?php echo base_url(); ?>res/css/style.css" rel="stylesheet" type="text/css" />
 </head>
	<body>
		<center>
		<h3>Data Tabel User</h3>
		<div class="content">
			<table>		
					<tr>
						<th>
							<li><a href="<?php echo base_url().'belajar/bookmark' ?>">Data Tabel Bookmark</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'belajar/user' ?>">Data Tabel User</a></li>
						</th>
						<th>
							<li><a href="<?php echo base_url().'login/logout' ?>">Logout</a></li>
						</th>
					</tr>
				</table>
		<div class="paging">
		<div class="data">
			<table>
				<tr>
					<th width="2%">No.</th>
					<th>Username</th>
					<th width="25%">Option</th>
				</tr>
					<?php 
						$no = 0;
						foreach($tb_user as $u){
						$no++; ?>
				<tr>
					<td><?php echo $no ?></td>
					<td valign="top"><?php echo $u->username ?></td>
					<td>
						<a class="update">
						<?php echo anchor('belajar/edituser/'.$u->id,'Edit'); ?>
						</a>
						<a class="delete">
						<?php echo anchor('belajar/hapususer/'.$u->id,'Hapus'); ?>
						</a>
					</td>
				</tr>
		</div>
		</div>
		</div>
				<?php } ?>	
			</table>
		</center>
	
	 </div>
	</body>
	 <center>
		<a class="add"	href="<?php echo base_url('/belajar/tambahuser'); ?>"> Tambah Data...</a>
		<?php $this->load->view('v_footer');?>
	 </center>
</html>